.layout .header .search_and_top_wrapper{
	float:right;
	position:relative;
	text-align:right;	
}

.layout .header .top{
	margin-bottom:10px;
}

.layout .header .top a{
	margin-right:10px;
	text-decoration:none;
}

.layout .header .top a.last_menu{
	margin-right:0;
}

.layout .header .inner .gallery_1_logo {
	max-width: 220px;
}
.layout .header .inner .gallery_1_logo img {
	width: 100%;
	border: 0;
}
.layout .header .search_and_top_wrapper #gallery_1_search_text{
	border:2px solid #ff8866;
	
	height:36px;
	padding:0 10px;
	width:375px;
}

.layout .header .search_and_top_wrapper #gallery_1_search_submit{
	background-color:#ff8866;
	padding:8px 10px 8px 8px;
	
}

.layout .header .main-menu{
	background-color:#48586e;
	margin-bottom:10px;
}

.layout .header .main-menu ul li a .highlight{	
	display:none;
	position:absolute;
	top:4px;
	left:0;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;	
	border-top: 7px solid #2ca3b4;
}

.layout .header .main-menu ul li a.selected .highlight{	
	display:block;
}

.layout .header .main-menu ul{
	width:970px;
	padding:0;
	margin:auto;
}

.layout .header .main-menu ul li{
	display:inline-block;
	position:relative;
}

.layout .header .main-menu ul li a{
	text-decoration:none;
	display:inline-block;
	color:#ffffff;
	font-size:1.2em;
	padding:16px 17px;
	margin-right:25px;
	border-top:4px solid #48586e;
	border-bottom:3px solid #48586e;
}
.layout .header .main-menu ul li a.selected{
	text-decoration:none;
	display:inline-block;
	color:#ffffff;
	font-size:1.2em;
	padding:16px 17px;
	margin-right:25px;
	border-top:4px solid #2ca3b4;
	border-bottom:3px solid #2ca3b4;
}