/* FOOTER */
.footer-wrapper {
	height: 140px;
	color: #e6e6e6;
	width: 100%;
}

.footer-wrapper a {
	color: #e6e6e6;
}

.footer {
	width: 970px;
	margin: auto;
}

.footer .footer-menu-copyright {
	float: left;
	width: 620px;
}

.footer .footer-search-logo {
	width: 350px;
	float: left;
}

.footer .footer-search-logo .footer-search {
	background: #48586e;
	padding: 8px 20px;
}	

.footer .footer-search-logo .footer-search #gallery_1_search_text {
	background: #48586e;
	border: 0;
	padding: 10px 0;
	width: 270px;	
	color: #e6e6e6;
}

.footer .footer-logo {
	padding: 15px 0 25px 0;
	background: #374354;
	height: 50px;
	margin: auto;
	text-align: center;
}

.footer .copyright {
	padding: 20px;
}

.footer-menu {
	margin-bottom: 10px;
}

.footer-menu ul {
	margin: 0;
	padding: 20px 20px;
	list-style-type: none;
}

.footer-menu ul li {
	float: left;
}

.footer-menu ul li a {
	padding: 20px;
}

.footer-menu ul li.first-menu a {
	padding-left: 0;
}


